body,html{margin:0; padding:0;}
body{background-color:#38353a;}
h1{padding-top:100px; text-align:center; color:#f4f4f4;}
h1+p{max-width:800px; margin:0 auto 50px auto;  color:#f4f4f4;}

.form{max-width: 500px; margin: 10px auto; font-size:18px;}
.form label{color:#f4f4f4;}
.guessField{padding:5px 10px; border:1px solid #20002c; border-radius: 5px; vertical-align:middle; cursor: pointer; outline:none;}
.guessField:focus{background-color:#d0eaf3;  }
.guessSubmit{padding:5px 10px; border:1px solid #9ECEDE; border-radius: 5px; cursor: pointer; outline:none; background-color:#9ECEDE;}


.resultParas .lastResult{width:300px; margin:0 auto 50px auto; padding:10px; border-radius: 5px; text-align: center; font-weight: 700; font-size:20px; }
.resultParas + button{display:block; margin:0 auto; padding:10px 10px; width:200px; background-color:#ddde; cursor: pointer; text-transform: uppercase; text-align:center; animation-name: opacity; animation-duration: 3s; font-size:18px; }
.resultParas .guesses, .resultParas .lastResult{color:#f4f4f4;}
.resultParas .lowOrHi{text-align: center; font-size:20px;}

@keyframes opacity{from{opacity: 0;}to{opacity: 1;}};

